<div
  class="d-flex justify-content-center align-items-center show-component bg-light"
>
  <div class="col-md-4 d-flex justify-content-center">
    <div class="row">
        <div class="col-md-12">
                <div class="card text-center">
                        <div class="card-body">
                          <mooven-logo></mooven-logo>
                
                          <p class="card-text mb-5 text-mooven-color">
                            Legal, mas acreditamos que mostrar a origem das informações, é melhor  do que tentar adivinhar o que você precisa.

                          </p>
                          <a [routerLink]="['/']" class="card-link"> Volar ao começo </a>
                          <a href="{{projectUrl}}" target="_blank" class="card-link">Acessar o Repositório</a>
                        </div>
                      </div>
        </div>
      
    </div>
  </div>
</div>
