<div
  class="d-flex justify-content-center align-items-center show-component bg-light"
>
  <div class="col-md-7 d-flex justify-content-center">
    <div class="row">
      <div class="col-md-12">
        <div class="card-container">
          <div class="left"></div>
          <div class="right"></div>
          <div class="card">
            <div class="front">
              <div class="card-data-frontend ">
                <div class="logo text-center">
                  <mooven-logo></mooven-logo>
                  <p class="p-2">
                    <strong>
                      <small>
                        Bom agora é com você, quer saber um pouco mais sobre esse repositorio ? <br/> Então
                        posicione o cursor no card.
                      </small>
                    </strong>
                  </p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
